{{extend 'layout.html'}}
<h4>What is techclub?</h4>
<p>A user-driven tech news aggregator.</p>
<br />
<h4>How does it work?</h4>
<p>Post a link, ask a question, or just say anything that would be of interest to your tech buddies.</p>
<p>Submissions and comments can be upvoted, and are ranked according to freshness and popularity.</p>
<p>Based on their upvoted submissions or comments, each user accumulates points, which reflects their status in the board.</p>
<br />
<h4>How do I qualify to join?</h4>
<ol>
  <li>You are human (or a convincing enough bot)</li>
  <li>Have some form of intellectual curiosity</li>
  <li>All the three</li>
</ol>
